PORT=5000
MONGO_URI=mongodb+srv://pratikpatil1311_db_user:is5LQnj8B2aUmjG8@cluster0.z6rm9qk.mongodb.net/?appName=Cluster0
JWT_SECRET=jdfhdjfhdsyufgisdjoiduwer34%$&^*hreuhweiuryyr34%^#^#$^#$%$%#R#@#$#@$@#EE
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173
GOOGLE_CLIENT_ID=188382910376-8107tta2l19qseqbh49uauv1hd8144l1.apps.googleusercontent.com
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=pratikpatil1311@gmail.com
SMTP_PASS=ocicsxnnakxabqdp
MAIL_FROM=pratikpatil1311@gmail.com
GOOGLE_CLIENT_SECRET=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
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=pratikpatil1311@gmail.com
EMAIL_PASS=ocicsxnnakxabqdp

ADMIN_NAME=admin
ADMIN_EMAIL=pratikpatil1311@gmail.com
ADMIN_PASSWORD=123456789123
JWT_SECRET=fdhfgiufheihr235464923uhrbjhewfbewyrt238213u4985634856y8234grtwehfweury$@%#Q%$RWER@#$%2

